		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>SoftMed</h3>

				<p class="footer-links">
					<a href="#">Inicio</a>
					·
					<a href="#">Precios</a>
					·
					<a href="#">Acerca</a>
					·
					<a href="#">Contacto</a>
				</p>

				<p class="footer-company-name">SoftMed &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Calasanz</span> Medellin, Colombia</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+571 300 30030000</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@draiven.com">support@draiven.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Acerca de la empresa</span>
					Somos una empresa que valora la información, optimizando la gestión de los datos de forma segura, integrada y ágil en el sector salud.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>